.carousel-modal {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.carousel-modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.carousel-modal__control {
  margin-top: -9px;
  position: absolute;
  top: 50%;
  z-index: 1;

  &:after {
    border: inset transparent;
    border-bottom-width: 13px;
    border-top-width: 13px;
    content: '';
    display: block;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.carousel-modal__control--prev {
  left: 20px;

  &:after {
    border-right: 17px solid #fff;
  }
}

.carousel-modal__control--next {
  right: 20px;

  &:after {
    border-left: 17px solid #fff;
  }
}

.carousel-modal__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  height: 100%;
  justify-content: center;
  width: 100%;
  padding: 0 60px;
}

.carousel-modal__image {
  flex: 0 1 content;
  max-height: 85%;
  margin-bottom: 10px;
}

.carousel-modal__caption {
  color: #fff;
  flex: 0 1 auto;
  text-align: center;
}
